@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 220px;
  width: 220px;
  border: 10px solid black;
  border-radius: 20%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}
